@import 'basetheme/all';

// Overwrite growl colors
.growl {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.growl.growl-default {
  color: #FFF;
  background: $brand-info;
}
.growl.growl-error {
  color: #FFF;
  background: $brand-danger;
}
.growl.growl-notice {
  color: #FFF;
  background: $brand-success;
}
.growl.growl-warning {
  color: #FFF;
  background: $brand-warning;
}



.playback-setting-wrapper {
    margin-top:30px;
    padding-left:5px;
}

.playback-setting-wrapper .setting-label,
#settings .setting-label {
    margin-left:15px;
}

 ul.info-listing, ul.info-listing a, .setting-label {
    font-size:1em;
    font-weight:bold;
    color:$brand-warning;
 }

 a.setting-label {
     text-decoration: underline;
 }

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none; -webkit-transition: none; }

.container.container-nav {
    padding:30px 15px 0px 15px;
    .btn {
        font-size:1em;
        font-weight:normal;
    }
}

.container {
    min-width:350px;
    max-width:350px;
}

.row {
    display:none;
    h1 {
        margin-bottom:25px;
        color:$brand-warning;
    }
}

.toggle-group .btn {
    line-height:1em;
}

.toggle-on {
    color:#444;
    font-weight:bold;
}

.command-ctr {
    margin-top:30px;
    margin-bottom: 0;

    button {
        color: #444;
        font-weight:bold;
        font-size: 1em;
        text-align: center;
        padding-left:0;
        padding-right:0;
    }

    div.btn-group:nth-child(2) {
        padding:0 10px;
    }
}

.redo-search{
    width:35%;
    color: #444;
    font-weight:bold;
    font-size: .9em;
    margin-top:21px;
    margin-bottom:50px; // bump off the bottom for longer results
    text-align: center;
    padding:5px 0 5px 0;
}

.search-history {
    margin-top:30px;
    color: $brand-warning;

    h4 {
        font-size:1.6em;
        small {
            font-size:.5em;
            color: $brand-warning;
        }
    }

    li {
        margin-left:5px;
        font-style:italic;
        font-size:.9em;
        &:hover{
            cursor:pointer;
            // text-decoration: underline;
            text-shadow: 0 0 3px rgba(240,173,78,.8);
        }
    }
}

#fakeSearch {
    display:none;
}

#video_player {
    display:none;
}

#speechContainer {
    display: block;
    width:100%;
    height:250px;
    padding:10px;
    background-color: $brand-warning;// #161616;
    margin-top:30px;
    position:relative;
    font-size:1.5em;
    font-weight:bold;

    #analyser {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        opacity:.7;
    }

    .interim {
        color: #eee;
    }

    .final {
        color: white;
        padding-right: 3px;
    }
}

#video_player {
    margin-top:27px;

    #yt_player_skin {
        // https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        overflow: hidden;
        width:79%;
        float:left;

        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    #yt_playlist {
        min-height:10px;
        width: 19%;
        float:right;
        padding-right:1px;

        li {
            margin-bottom:9px;
            img {
                width:100%;
                &:hover {
                    box-shadow: 0 0 8px rgba(255,255,255, .8);
                }
            }
            &.active {
                img {
                    border-color:$brand-warning;
                    border-width: 3px;
                    padding:2px;
                }
            }
        }
    }
}

.row-faq .info-listing li {
    margin-bottom:10px;
    color:$brand-warning;
    font-size:1.3em;
}

.row-faq .info-listing ul {
    margin: 5px 0 25px 15px;
        li {
        font-size:.6em;
        font-weight:normal;
        margin-bottom:5px;
    }
}

.row-matches h5 {
    position:relative;
    margin-top:26px;
    margin-bottom:20px;
    font-size:.8em;

    em {
        color: $brand-warning;
        margin-left:3px;
        margin-right:3px;
    }
}

#lyricMatchList{

    li.match-result {
        background-color: $brand-warning;
        margin-bottom:4px;
        font-size:.7em;
        position:relative;
        z-index: 0;
        padding-left: 30px;
        min-height:22px;

        &:hover {
            cursor:pointer;
            box-shadow: 0 0 8px rgba(255,255,255, .8);
        }

        .badge.track-rating {
            position:absolute;
            top:5px;
            left:5px;
            opacity:.6;
            z-index:10;
            padding:3px;
            font-size:.9em;
            line-height:1em;
        }

        .li-wrapper{
            width:100%;
            height:100%;
            position:relative;
            z-index:20;
            line-height:1.6em;
            color:#444;

            .artist-name{
                font-weight:bold;
                font-size:1.2em;
                color:#222;
            }

            .track-name {
                background-color: rgba(80,80,80,.4);
                border-radius: 2px;
                display:inline-block;
                padding:1px 4px;
                margin:2px 4px 2px 4px;
                color:#f6f6f6;
            }

            .album-name {
                font-style: italic;
            }

            .first-release-date {
                &:before {
                    content: ' - ';
                }
                margin-left:2px;
                font-style: italic;
            }
        }
    }
}
